<!DOCTYPE html>
<html>
  <head>
    <title>DemoBlog2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <div class="notice bg-secondary"><%= notice %></div>
    <% elsif alert %>
      <div class="alert alert-secondary"><%= alert %></div>
    <% end %>
    <% if user_signed_in? %>
      Logged in as: <%= current_user.email %>
    <% end %>
    <%= yield %>
  </body>
</html>
